"*":
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    telemetryConsent: "limited"
  editor:
    fontSize: 12
    lineHeight: 1.2
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapHangingIndent: 4
    tabLength: 4
  "exception-reporting":
    userId: "fc5977d4-ed6f-4010-bc0e-c8b301d7fe1f"
